@import url('index.css');

.error {
  display: inline;
  color: orange;
  text-align: right;
  margin-left: 2.3rem;

}

label {
    display: block;
    text-align: left;
    margin-bottom: .3rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: var( --dark-grayish-cyan);
  }
  
  input {
    outline: none;
    padding: 8px 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    text-align: right;
    border: 2px solid var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    font-family: 'Space Mono', sans-serif;
  }

  input:invalid{
    border: 2px solid orange;
  }

  .invalid:focus {
    border: 2px solid orange;
  }


  input:focus {
    border: 2px solid var(--primary-cian);
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .bill, .people {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .bill > .dollar, .people > svg {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 1.3rem;
    color: var(--dark-grayish-cyan);
  }

  .people > svg {
    bottom: 15px;
  }
  
  
  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-family: 'Space Mono', sans-serif;
    box-sizing: border-box;
    background: white;
  }
  
  .tips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .7rem;
    justify-content: flex-start;
    width: 400px;
    margin-bottom: 1.5rem;
  }
  
  .tips > .tip {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: .5rem 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    min-width: 60px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tips > .tip:hover {
    color: var(--white);
    background-color: var(--primary-cian);
  }
  
  .tip.custom {
    padding: .5rem 1.4rem;
  }

  input.custom {
    width: 7.3rem;
    padding: 6px 20px;
  }